.tile {
    display: inline-flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin: 0.3em;
    background-color: #c09f80;
    border-radius: 5em;
    min-width: fit-content;
    padding: 1em;
}

.track-info {
    width: 60%;
}

.buttons {
    display: inline-flex;
    align-items: center;
    width: 40%;
    min-width: max-content;
}

.music-button {
    border-style: none;
    padding: 0;
    margin: 0 0.3em;
    background-color: white;
    font-size: 48px;
    background-color: #c09f80;
    width: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#save {
    font-size: 30px;
}

.pause {
    background-image: url("../../images/pause-16.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 0.38em;
    width: 0.38em;
}

h5 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
}

p {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .tile {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        max-width: max-content;
        border-radius: 2em;
    }

    .buttons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        min-width: max-content;
    }
}