.playlist-tile {
    display: inline-flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin: 0.3em;
    background-color: #c09f80;
    border-radius: 5em;
    padding: 1em;
}

.playlist-description {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playlist-buttons {
    display: inline-flex;
    align-items: center;
    width: 25%;
}

@media screen and (max-width: 768px) {
    .playlist-tile {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        border-radius: 2em;
        width: 70%;
        min-width:fit-content;
    }

    .playlist-buttons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        min-width: max-content;
    }
}